<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.6">

    <link rel="icon" type="image/ico" href="https://www.vapeshifter.ru/favicon.ico">

    <title th:text = "${products.get(0).getTitle()+' - VapeShifter'}"></title>
    <meta name="description" th:content="${products.get(0).getText()}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(92179338, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92179338" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c40404;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "👎🏻";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #555555;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00d10a;

}

input:focus + .slider {
  box-shadow: 0 0 1px #00d10a;

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content:"👍🏻";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



    </style>

</head>

<body style="margin-top:70px; background-color:#eeeeee">

<header th:insert="blocks/header :: Header" ></header>
<br>
<!--<h1 align="center">Подробно</h1>-->
<div align="center">

    <div th:each="el:${products}" id="cuntent" class="rounded" style="display:none" >
        <div class="container" >
            <div class="card">
                <div class="card-body">
                    <div class="card-title" align="center" style="font-size:32px; font-weight: bold;" th:text="${el.getTitle()}"></div>
                    <div style="height:10px"></div>
                    <div class="row row-cols-sm-1 row-cols-lg-2" align="center">
                        <div class="col mt-3" align="center" >
                            <div class="white-box text-center">
<!--                                <img th:if="${curusname=='anonymousUser'}" th:src="${el.getPhotoUrl().replace('.png','.webp').replace('.jpg','.webp')}" width="66%" style="object-fit:contain; filter: blur(6px);" class="img-thumbnail ">-->
<!--                                <div th:if="${curusname=='anonymousUser'}" align="center">-->
<!--                                    <label style="font-size:16px">-->
<!--                                        <a href="/login">Войдите</a> или <a href="/registration">зарегистрируйтесь,</a>-->
<!--                                        чтобы просматривать изображения-->
<!--                                    </label>-->
<!--                                </div>-->

<!--                                <div th:if="${curusname!='anonymousUser'}">-->
                                <div>
                                    <a href="#" data-toggle="modal" th:data-target="${'#modalimg'+el.getId().toString()}">
                                            <img th:src="${el.getPhotoUrl().replace('.png','.webp').replace('.jpg','.webp')}" width="66%" style="object-fit:contain; " class="img-thumbnail">
                                    </a>

                                    <div class="modal fade" th:id="${'modalimg'+el.getId().toString()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe3" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" align="center" >
                                                    <img th:src="${el.getPhotoUrl()}" width="90%" style="object-fit:contain; " class="img-thumbnail ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mt-3" align="center"  >
                            <div class="row row-cols-2" >
                                <div class="col" align="left" style="width:66%">
                                    <div>
                                        <div th:if="${el.getOptIliRozn()=='opt'}" style="font-size:19px; color:#222222;">
                                            <div >
                                                <div class="rounded" style="background-color:#FAF4A1; display:inline-block;">📦Опт</div>
                                            </div>
                                        </div>
                                        <div th:if="${el.getOptIliRozn()=='rozn'}" style="font-size:19px; color:#222222;">
                                            <div >
                                                <div class="rounded" style="background-color:#9FFA99; display:inline-block;">🛍️Розница</div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div>
                                        <h5 class="box-title">📃Описание:</h5>
                                        <div th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(el.getText()),'\n','&lt;br /&gt;'))}" style="font-size:18px"></div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col" align="left"  style="white-space: nowrap; width:34%">
                                    <div th:if="${el.getVolume()!=null}">
                                        <h5 class="box-title">💧Объем:</h5>
                                        <div th:text="${el.getVolume()+' мл.'}" style="font-size:19px; "/>
                                        <br>
                                    </div>
                                    <div th:if="${el.getNicotine()!=null}">
                                        <h5 class="box-title" style="white-space: normal;">😵‍💫Содержание никотина:</h5>
                                        <div th:text="${el.getNicotine()+'%'}" style="font-size:19px; "/>
                                        <br>
                                    </div>

                                    <div th:if="${el.getAkuma()!=null}">
                                        <h5 class="box-title" style="white-space: normal;">⚡Объем аккумулятора:</h5>
                                        <div th:text="${el.getAkuma()+' mAh'}" style="font-size:19px; "/>
                                        <br>
                                    </div>

                                    <div th:if="${el.getQuantity()!=null}">
                                        <h5 class="box-title ">📦В наличии:</h5>
                                        <div th:text="${el.getQuantity()+' шт.'}" style="font-size:19px; "/>
                                        <br>
                                    </div>

                                    <h5 class="box-title">🏷️Цена:</h5>
                                    <div style="white-space: nowrap;">
                                        <div style="display:inline-block;">
                                            <h4  class="text-dark mb-0" th:text="${el.getPrice()+' ₽  '}" style="white-space: nowrap;"/>
                                        </div>
                                        <div th:if="${el.getOldprice()!=null}"  style="color:#FF0000; text-decoration: line-through; display:inline-block;">
                                            <span th:text="${el.getOldprice()+' ₽'}" style="font-size:16px; color:#777777; "/>
                                        </div>
                                    </div>
                                    <div align="left" class="mt-3">
                                        <div th:if="${el.getQuantity()==0}">
                                            <button type="button" class="btn btn-sm btn-outline-dark" style="display: inline-block; vertical-align: text-top; margin-bottom:10px; font-size:20px; white-space: nowrap; " disabled>
                                                    <span class="material-symbols-outlined" style="font-size:20px;">
                                                        shopping_cart
                                                    </span>
                                                В корзину
                                            </button>
                                        </div>
                                        <div th:if="${el.getQuantity()!=0}">

                                            <a type="button" class="btn btn-sm btn-dark" href="#" data-toggle="modal" data-target="#modalcart" style="display: inline-block; vertical-align: text-top; margin-bottom:10px; font-size:22px; white-space: nowrap; ">
                                                <span class="material-symbols-outlined" style="font-size:20px;">
                                                    shopping_cart
                                                </span>
                                                В корзину
                                            </a>

                                            <div class="modal fade" id="modalcart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel2">Добавить в корзину</h5>
                                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>

                                                        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                                        <form onkeydown="return event.key != 'Enter';" th:action="'/products/'+${el.getId()}+'/addcart'" th:object="${cart}" method="post" target="dummyframe" id="cartform">
                                                            <div class="modal-body" align="center" >
                                                                <div class="card shadow-sm">

                                                                    <img th:src="${el.getPhotoUrl()}" class="" height="200" width="100%" style="object-fit:contain;"/>
                                                                    <div class="card-body">
                                                                        <div >
                                                                            <div align="left" class="mb-0" th:text="${el.getTitle()}" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; font-size:17px; color:#222222; "></div>
                                                                            <div style="height:5px"> </div>
                                                                            <div align="left" style="white-space: nowrap;">
                                                                                <div style="display:inline-block;">
                                                                                    <h5  class="text-dark mb-0" th:text="${el.getPrice()+' ₽  '}" style="white-space: nowrap;"/>
                                                                                </div>
                                                                                <div th:if="${el.getOldprice()!=null}"  style="color:#FF0000; text-decoration: line-through; display:inline-block;">
                                                                                    <span th:text="${el.getOldprice()+' ₽'}" style="font-size:14px; color:#777777; "/>
                                                                                </div>
                                                                            </div>
                                                                            <div align="left" th:if="${el.getQuantity()!=null}">
                                                                                <i class="mb-0" th:text="${'В наличии: '+el.getQuantity()+' шт.'}" style="font-size:15px; color:#444444; "></i>
                                                                            </div>
                                                                            <div style="height:15px"> </div>
                                                                        </div>

                                                                        <div th:if="${colorarray!=null}" align="center">
                                                                            <div th:if="${!(colorarray.length<=1)}">
                                                                                Вкус/цвет:
                                                                                <select name="colors" id ="colors" class="form-select">
                                                                                    <option th:each = "cel:${colorarray}" th:value="${cel}" >
                                                                                        <div th:text="${cel}"></div>
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        Количество:
                                                                        <input type="number" min="1" th:max="${el.getQuantity()}" name="quantity" id ="quantity" placeholder="Количество" value="1" class="form-control" required>
                                                                        <div th:id="${'quanquan'+el.getId().toString()}" style="display:none" th:text="${el.getQuantity()}"></div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div align="center">
                                                                <div align="left" style="width:90%">
                                                                    <div id="regmsg" style="font-size: 18px; display:none; white-space:normal">

                                                                        <div align="center">
                                                                            <span style="font-size:20px; vertical-align:text-top; color:#ff7b00" class="material-symbols-outlined">
                                                                                warning
                                                                            </span>
                                                                            Чтобы добавить товар в корзину нужно
                                                                            <a href="/registration">зарегистрироваться</a> <br>
                                                                        </div>

                                                                        <div align="center">
                                                                            Или написать в телеграм:
                                                                            <a target="_blank" href="https://telegram.me/vapeshiftermanager" style="display:inline-block; font-size:18px; text-decoration:none">
                                                                                <img src="https://i.imgur.com/lV4a4sl.png" width="20px" style="object-fit:contain; display:inline-block;">
                                                                                <div style="display:inline-block;">@vapeshiftermanager</div>
                                                                            </a>
                                                                        </div>

                                                                        <div align="center">
                                                                            <div style="display:inline-block;">
                                                                                Или написать на WhatsApp:
                                                                            </div>
                                                                            <a target="_blank" href="https://api.whatsapp.com/send?phone=79169072614&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5,%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%20%D0%B1%D1%8B%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C" style="display:inline-block;">
                                                                                +79169072614
                                                                            </a>
                                                                        </div>

                                                                        <div align="center">
                                                                            <div style="display:inline-block;">
                                                                                Или написать на эл. почту:
                                                                            </div>
                                                                            <a href="mailto:vapeshiftershop@gmail.com" style="display:inline-block;">
                                                                                vapeshiftershop@gmail.com
                                                                            </a>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

                                                                <button th:if="${curusname!='anonymousUser'}" onclick="cartsubmit()" class="btn btn-dark">
                                                                    <span class="material-symbols-outlined" style="font-size:15px">
                                                                         shopping_cart
                                                                    </span>
                                                                    Добавить
                                                                </button>

                                                                <script>
                                                                   /*<![CDATA[*/
                                                                    function cartsubmit(){
                                                                        if(document.getElementById('quanquan'+[[${el.getId()}]]).innerHTML != ""){
                                                                            if (document.getElementById('quantity').value>0 && document.getElementById('quantity').value <= parseInt(document.getElementById('quanquan'+[[${el.getId()}]]).textContent)){
                                                                                document.getElementById('cartform').submit();
                                                                                $('#modalcart').modal('hide');
                                                                            }
                                                                        }
                                                                        else if(document.getElementById('quantity').value>0){
                                                                            document.getElementById('cartform').submit();
                                                                            $('#modalcart').modal('hide');
                                                                        }
                                                                    }
                                                                    /*]]>*/
                                                                </script>


                                                                <button th:if="${curusname=='anonymousUser'}" type="submit" class="btn btn-dark" onclick="document.getElementById('regmsg').style.display = 'block';">
                                                                    <span class="material-symbols-outlined" style="font-size:15px">
                                                                         shopping_cart
                                                                    </span>
                                                                    Добавить
                                                                </button>

                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">document.getElementById("cuntent").style.display = "block";</script>


    <br>
    <div align="center" style="font-size:35px;">Отзывы:</div>
    <div style="height:15px"></div>
    <div align="center" style="font-size:25px;" th:if="${cartrep.findByUser_idAndProduct_IdAndStatus(userrep.findByUsername(curusname), productsrep.findById(id), 'inOrder').size()==0}">Закажите товар, чтобы оставить отзыв📦</div>
    <div align="center" style="width:66%" class="card shadow-sm" id="commentform" th:if="${cartrep.findByUser_idAndProduct_IdAndStatus(userrep.findByUsername(curusname), productsrep.findById(id), 'inOrder').size()!=0}">
        <div align="center">
            <div align="center" style="width:80%">
            <form method="post" style="align:center" th:action="'/products/'+${id}+'/comment'" th:object="${comment}">
                <br>
                <div align="center" style="font-size:20px;">Вы заказывали данный товар. Хотите оставить отзыв?</div>
                <br>
                <div align="center" style="font-size:18px;">Оценка:</div>
                <div align="center">
                    <label class="switch">
                        <input type="checkbox" name="rating" id="rating" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
            <div style="height:15px"></div>
                <textarea maxlength="512" name="text" id ="text" placeholder="Комментарий" class="form-control" style="width:70%"></textarea>
                <div style="height:15px"></div>
                <button style="color:#ffffff" class="btn btn-success" type="submit">
                        Отправить
                    <span class="material-symbols-outlined" style="font-size:17px; vertical-align:middle">
                        send
                    </span>
                </button>
        </form>
        <br>
        </div>
        </div>
    </div>

    <div th:if="${comments.size==0}" align="center" style="font-size:23px;">
        <br>
        Нет отзывов😔
    </div>
    <div align="center" th:each="el:${comments}">
        <br>
        <div class="rounded shadow-sm" align="center" style="background-color:#ffffff; width:66%">
            <table width="100%">
                <tr>
                    <td align="center" width="15%">

                    </td>
                    <td align="center" width="70%">
                        <div style="white-space:nowrap; display:inline-block">
                            <a style="color:#222222; text-decoration: none;" th:if="${curusname=='admin'}"  th:href="'/users/'+${el.getAuthorName()}" >
                                <img class="rounded-circle" th:src="${userrep.findByUsername(el.getAuthorName()).getAvatarlink()}" style="display:inline-block; vertical-align:middle" height="20px" width="20px" >
                                <h5 th:text="${el.getAuthorName()}" style="display:inline-block; vertical-align:middle"/>
                            </a>
                            <div style="color:#222222; text-decoration: none;" th:if="${curusname!='admin'}" >
                                <img class="rounded-circle" th:src="${userrep.findByUsername(el.getAuthorName()).getAvatarlink()}" style="display:inline-block; vertical-align:middle" height="20px" width="20px" >
                                <h5 th:text="${el.getAuthorName()}" style="display:inline-block; vertical-align:middle"/>
                            </div>
                        </div>


                        <div style="font-size: 23px; display:inline-block;" th:if="${el.getRating()}" >
                            <span style="color:#00d10a; display:inline-block; vertical-align:middle;" class="material-symbols-outlined">
                                thumb_up
                            </span>
                        </div>
                        <div style="font-size: 23px; display:inline-block;" th:if="${!el.getRating()}" >
                            <span style="color:#c40404; display:inline-block; vertical-align:middle;" class="material-symbols-outlined">
                                thumb_down
                            </span>
                        </div>


                    </td>
                    <td align="center" width="15%">
                        <div th:if="${el.getAuthorName()==curusname}">
                            <a type="button" class="btn btn-outline-danger" href="#" data-toggle="modal" th:data-target="${'#modal'+el.getId().toString()}">
                                <span class="material-symbols-outlined" style="font-size:16px;">
                                    close
                                </span>
                            </a>

                            <div class="modal fade" th:id="${'modal'+el.getId().toString()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Подтверждение удаления</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body" align="center" >
                                            Вы уверены что хотите удалить отзыв?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                            <form th:action="'/products/comment/'+${el.getId()}+'/del'" method="post">
                                                <button type="submit" class="btn btn-danger">
                                                         <span class="material-symbols-outlined" style="font-size:15px">
                                                         delete
                                                         </span>Удалить
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="font-size: 14px; white-space:nowrap" th:text="${df2.format(df1.parse(el.getDate().toString()))}"></div>

            <script th:inline="javascript">
                            /*<![CDATA[*/
                                if([[${el.getAuthorName()==curusname}]]){
                                    document.getElementById("commentform").style.display = "none";
                                }
                            /*]]>*/
            </script>

            <div th:if="${el.getText()!=null}">
                <div th:if="${el.getText().length()!=0}" style="font-size: 23px;"  th:text="${'«'+el.getText()+'»'}"></div>
            </div>

            <div style="height:7px"></div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: Footer"></footer>
</body>
</html>