<footer class="py-3 my-4" style="background-color:white; background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(238,238,238,1) 100%);">

    <div align="center" style="color:#222222; text-decoration: none;">
        <div  style="display:inline-block; color:#555555; font-size:18px;">Есть вопросы? Напишите нам!</div>

<!--        <a target="_blank" href="https://t.me/thismanisdeadinside" style="display:inline-block; color:#555555; text-decoration: none; font-size:18px">-->
<!--            <img src="https://i.imgur.com/lV4a4sl.png" width="25px" style="object-fit:contain; display:inline-block;">-->
<!--            <div style="display:inline-block;">@thismanisdeadinside </div>-->

<!--        </a>-->

        <a target="_blank" href="https://telegram.me/vapeshiftermanager" style="display:inline-block; color:#555555; text-decoration: none; font-size:18px">
            <img src="https://i.imgur.com/lV4a4sl.png" width="25px" style="object-fit:contain; display:inline-block;">
            <div style="display:inline-block;">@vapeshiftermanager</div>
        </a>

    </div>
    <br>
    <div align="center">
        <div style="display:inline-block;">
            Наш адрес эл. почты:
        </div>
        <a href="mailto:vapeshiftershop@gmail.com" style="display:inline-block;">
            vapeshiftershop@gmail.com
        </a>
    </div>
    <br>
    <div align="center">
        <a target="_blank" href="/soglasiepersdata">Политика обработки персональных данных</a>
    </div>
    <br>
    <p class="text-center text-muted">© 2023 Vapeshifter.ru</p>

</footer>
